@using BmsSurvey.Application.Surveys.Models
@using BmsSurvey.WebApp.Resources
@inject ILocalizationService<LayoutResource> LayoutLocalizer
@model SurveyViewModel

@{
    ViewData["Title"] = Model.SurveyTitle;
    Layout = "_BarRatingStyles";
}
<div class="container">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <hr />

    @foreach (var question in Model.Questions)
    {
        <vc:question model=@question></vc:question>
    }

    @if (!Model.IsLastPage)
    {
        <partial name="_SurveyNavigation" model="Model"/>
    }
    else
    {
        <form asp-action="Save" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group text-center">
                <label class="align-self-center" for="Email"><pre class="text-center lead">@LayoutLocalizer.GetLocalizedHtmlString("EMAIL_PLEASE")</pre></label>
                <input type="email" class="form-control" name="Email" id="Email" placeholder="@LayoutLocalizer.GetLocalizedHtmlString("ENTER_EMAIL")">
            </div>
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center"><partial name="_SurveyNavigation" model="Model" /></div>
                <div class="col-sm-6"><button type="submit" class="btn btn-primary float-right bounce-top">@LayoutLocalizer.GetLocalizedHtmlString("SAVE")</button></div>
            </div>
        </form>
    }

</div>
