@page
@using BmsSurvey.Common.Interfaces
@using BmsSurvey.WebApp.Resources
@model BmsSurvey.WebApp.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = LayoutLocalizer.GetLocalizedHtmlString("ACCESS_DENIED");
}
@inject ILocalizationService<LayoutResource> LayoutLocalizer

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"> @LayoutLocalizer.GetLocalizedHtmlString("ACCESS_DENIED_TEXT")</p>
</header>
