@page
@using BmsSurvey.Common.Interfaces
@using BmsSurvey.WebApp.Resources
@model BmsSurvey.WebApp.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = LayoutLocalizer.GetLocalizedHtmlString("CONFIRM_EMAIL");
}
@inject ILocalizationService<LayoutResource> LayoutLocalizer

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        @LayoutLocalizer.GetLocalizedHtmlString("CONFIRM_EMAIL_TEXT")
    </p>
</div>
