@page
@using BmsSurvey.Common.Interfaces
@using BmsSurvey.WebApp.Resources
@model BmsSurvey.WebApp.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = LayoutLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD");
}
@inject ILocalizationService<LayoutResource> LayoutLocalizer

<h2>@ViewData["Title"]?</h2>
<h4>@LayoutLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD_ENTER_EMAIL")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">@LayoutLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@LayoutLocalizer.GetLocalizedHtmlString("SUBMIT")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
