@page
@using BmsSurvey.Common.Interfaces
@using BmsSurvey.WebApp.Resources
@model BmsSurvey.WebApp.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = LayoutLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}
@inject ILocalizationService<LayoutResource> LayoutLocalizer

<h2>@ViewData["Title"]</h2>
<p>
    @LayoutLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT");
</p>

