@page
@using BmsSurvey.Common.Interfaces
@using BmsSurvey.WebApp.Resources
@model BmsSurvey.WebApp.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = LayoutLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION");
}
@inject ILocalizationService<LayoutResource> LayoutLocalizer

<h2>@ViewData["Title"]</h2>
<p>
    @LayoutLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_TEXT1")<a asp-page="./Login">@LayoutLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_CLICK_HERE")</a>.
</p>
