@using BmsSurvey.Common.Interfaces
@using BmsSurvey.WebApp.Resources
@{
    Layout = "/Views/Shared/_LayoutSlim.cshtml";
}
@inject ILocalizationService<LayoutResource> LayoutLocalizer

<h2>@LayoutLocalizer.GetLocalizedHtmlString("MANAGE_YOUR_ACCOUNT")</h2>

<div>
    <h4>@LayoutLocalizer.GetLocalizedHtmlString("MANAGE_CAHNGE_ACCOUNT_SETTINGS")</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
