@using BmsSurvey.WebApp.Resources
@model BmsSurvey.Application.Roles.Commands.CreateRole.CreateRoleCommand
@{
    ViewBag.Title = "Създаване на роля";
    Layout = "_LayoutSlim";
}
@inject ILocalizationService<LayoutResource> LayoutLocalizer
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center">@ViewBag.Title</h2>
        <hr/>
        <form asp-action="Create" method="post">
            <div id="wrapper" class="mt-5 mb-5">
                <input type="text" class="form-control" asp-for="Name" form-input/>
                <input type="text" class="form-control" asp-for="Description" form-input/>
            </div>
            
            <hr/>
            <div class="float-right">
                <button type="submit" class="btn btn-primary">@LayoutLocalizer.GetLocalizedHtmlString("CREATE")</button>
                <a asp-action="Index" asp-controller="Roles" class="btn btn-danger">@LayoutLocalizer.GetLocalizedHtmlString("CANCEL")</a>
            </div>
        </form>
    </div>
    
</div>

