@using BmsSurvey.WebApp.Resources
@{
    ViewData["Title"] = "Home Page";
}

@inject ILocalizationService<LayoutResource> LayoutLocalizer

<div class="row">
    <div class="col-sm-6 col">
        @if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToLower() == "bg")
        {
            <img class="home-icecream" src="~/images/SurveyIcecreamBG.png" />
        }
        else
        {
            <img class="home-icecream" src="~/images/SurveyIcecream.png" />
        }
    </div>
    <div class="col-sm-6">
        <div class="clearfix">
            @if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToLower() == "bg")
            {
                <img class="home-logo float-right" src="~/images/BMSSurveyLogoBG.png" />

            }
            else
            {
                <img class="home-logo float-right" src="~/images/BMSSurveyLogo.png" />
            }
        </div>

        <div class="home-text-wrapper">
            @if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToLower() == "bg")
            {
                <img class="home-slogun" src="~/images/SurveySlogunBG.png" />

            }
            else
            {
                <img class="home-slogun" src="~/images/SurveySlogun.png" />
            }
        </div>
    </div>
</div>

@section Styles
{
    <style>
        body {
            overflow: hidden;
        }
    </style>
}


